
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://peopleops.org/public/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://peopleops.org/public/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://peopleops.org/public/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://peopleops.org/public/bootstrap/ico/apple-touch-icon-57-precomposed.png">
     <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
     <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script>
        function get_items()
        {
            $("#itemsTable > tbody").empty();
            var id = document.getElementById("restaurants").value;
            $.getJSON('/food-items?id='+id,function(data) {
                if(data.food_items.length > 0){
                    document.getElementById('showTable').style.display = "block";
                    for(var i=0; i < data.food_items.length; i++){
                            var table = document.getElementById("itemsTable");
                            var tbody=document.getElementsByTagName('tbody')[0];
                            var row=document.createElement('tr');
                            var cell1=document.createElement('td');
                            var cell2=document.createElement('td');
                            //cell2.data-title ="Software Name";
                            var cell3=document.createElement('td');
                            var cell1value='';
                            var cell2value='';
                            var cell3value='';
                            select_string = '';
                            cell1value+='<label class="checkbox"><input type="checkbox" name="item_name" id="item_name" value="'+data.food_items[i]+'">';
                            cell2value+=data.food_items[i];
                            //cell3value+='<input type="number" name="quantity" id="quantity">';
                            cell3value+='<input class="span1" type="text">';
                            cell1.innerHTML=cell1value;
                            cell2.innerHTML=cell2value;
                            cell3.innerHTML=cell3value;
                            row.appendChild(cell1);
                            row.appendChild(cell2);
                            row.appendChild(cell3);
                            tbody.appendChild(row);
                    }
                    
                }
            });
        }
      </script>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="/dine">Dine</a></li>
          <li><a href="#">Caffeteria</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted"><img src="{{ MEDIA_URL }}images/mm_logo_main.png" width=35% height =35%></h3>
      </div>

      <hr>
      <div class="page-header">
          <h3>People Ordering <small>wanna join?</small></h3>
          <ul>
          <li>
            <p class="muted">Three people are ordering food from alsaba</p>
          </li>
        <ul>
      </div>
      
      <div>
        <form form-horizontal>
          <fieldset>
            <legend>Make your order</legend>
            <div class="btn-group">
      </div>
            Select Resturant:
            <select id="restaurants" onchange="get_items()" size="1">
                {% for restaurant,id in restaurants.items %}
                     <option value="{{ id }}">{{ restaurant }}</option>
                {% endfor %}
            </select>
        
          
            <div class="control-group" style="display: none" id="showTable">
            <label class="control-label" for="licenses"></label>
                <div class="controls">
                    <table class="table table-condensed" id="itemsTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="select_all" onclick="selectall(this)"></th>
                                <th>Item name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">Assign License</button>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
      

      <hr>

      <div class="footer">
        <p>&copy;  Mutual Mobile 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/jquery.js"></script>
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.js"></script>-->
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-alert.js"></script>    
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
    <script>
        function selectall(source)
        {
                     checkboxes = document.getElementsByName('item_name');
                     for(var i in checkboxes)
                     {
                                  checkboxes[i].checked = source.checked;
                     }
        }
    </script>
  </body>
</html>
